<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="main--body">
        <div class="navigation--bar">
            <div class="logo">
                <p>THG</p>
            </div>
            <nav>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact-us</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Countries</a></li>
                <li><a href="">Login</a></li>
            </nav>
        </div>
        <div class="welcome--section">
            <img src="/images/Group 1 (2).png" alt="a hotel college image" class="welcome--image">
        </div>
        <div class="hotel--rooms">
            <div class="image">
                <img src="/images/hotel.jpg" alt=" a hotel image" class="hotel--image">
            </div>
        </div>
    </div>
</body>
</html>