<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="main--body">
        <div class="navigation--bar">
            <div class="logo">
                <p>THG</p>
            </div>
            <nav>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="">Contact-us</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Countries</a></li>
                <li><a href="/login">Login</a></li>
            </nav>
        </div>
        <div class="welcome--section">
            <img src="/images/Group 1 (2).png" alt="a hotel college image" class="welcome--image">
        </div>
        <div class="hotels--rooms--div">
            <div class="hotel--rooms">
                <div class="image">
                    <img src="/images/hotel.jpg" width="250px" alt=" a hotel image" class="hotel--image">
                </div>
                <div class="image--about">
                    <p class="image--heading">Spend a week in maldivs</p>
                    <p class="image--description">Enjoy your holiday in a special way. have fun live remember</p>
                    <div class="image--more">
                        <button>Book now !</button>
                        <p>$350 usd</p>
                    </div>
                </div>
            </div>
            <div class="hotel--rooms">
                <div class="image">
                    <img src="/images/hotel.jpg" width="250px" alt=" a hotel image" class="hotel--image">
                </div>
                <div class="image--about">
                    <p class="image--heading">Spend a week in maldivs</p>
                    <p class="image--description">Enjoy your holiday in a special way. have fun live remember</p>
                    <div class="image--more">
                        <button>Book now !</button>
                        <p>$350 usd</p>
                    </div>
                </div>
            </div>
            <div class="hotel--rooms">
                <div class="image">
                    <img src="/images/hotel.jpg" width="250px" alt=" a hotel image" class="hotel--image">
                </div>
                <div class="image--about">
                    <p class="image--heading">Spend a week in maldivs</p>
                    <p class="image--description">Enjoy your holiday in a special way. have fun live remember</p>
                    <div class="image--more">
                        <button>Book now !</button>
                        <p>$350 usd</p>
                    </div>
                </div>
            </div>
            <div class="hotel--rooms">
                <div class="image">
                    <img src="/images/hotel.jpg" width="250px" alt=" a hotel image" class="hotel--image">
                </div>
                <div class="image--about">
                    <p class="image--heading">Spend a week in maldivs</p>
                    <p class="image--description">Enjoy your holiday in a special way. have fun live remember</p>
                    <div class="image--more">
                        <button>Book now !</button>
                        <p>$350 usd</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about--page">
            <h1 class="about--h1">About Travel hotel Global</h1>
            <div class="about--display">
                <div class="about--image">
                    <img src="/images/travel-hotel.png" alt="">
                </div>
                <div class="about--section">
                    <p>Welcome to Travel Hotel, your ultimate gateway to discovering and booking the perfect stay, no matter where your travels take you. Whether you're planning a relaxing getaway, an adventurous trip, or a business journey, Travel Hotel is here to make finding the right accommodation effortless and enjoyable.</p>

                        <p>We connect travelers with a vast selection of hotels across the globe, from luxurious resorts to budget-friendly stays, all tailored to suit your unique preferences. Our user-friendly platform allows you to explore hotels in any destination, compare prices, read genuine reviews, and book with confidence.</p>
                        
                        <p>At Travel Hotel, we believe that where you stay is just as important as where you go. That's why we provide detailed information, vibrant images, and all the amenities you need to make an informed decision. With our extensive network, you’re never far from your next memorable experience.</p>
                        
                        <p>Start your journey with Travel Hotel today, and let us help you find the perfect place to stay, wherever the world may take you!</p>
                </div>
            </div>
            <div class="about--reviews">
                <div class="user--card">
                        <img src="/images/profile-pic.png" alt="">
                    <div class="user--review">
                        <h1>Client One</h1>
                        <div class="review--data">
                            <h1>Ratings:  5</h1>
                            <p>my experience with
                                travel hotel is the best since this guys help you find what you want for sure. i love it.</p>
                        </div>     
                    </div>
                </div>
                <div class="user--card">
                        <img src="/images/profile-pic.png" alt="">
                    <div class="user--review">
                        <h1>Client One</h1>
                        <div class="review--data">
                            <h1>Ratings:  5</h1>
                            <p>my experience with
                                travel hotel is the best since this guys help you find what you want for sure. i love it.</p>
                        </div>     
                    </div>
                </div>
                <div class="user--card">
                        <img src="/images/profile-pic.png" alt="">
                    <div class="user--review">
                        <h1>Client One</h1>
                        <div class="review--data">
                            <h1>Ratings:  5</h1>
                            <p>my experience with
                                travel hotel is the best since this guys help you find what you want for sure. i love it.</p>
                        </div>     
                    </div>
                </div>
                <div class="user--card">
                        <img src="/images/profile-pic.png" alt="">
                    <div class="user--review">
                        <h1>Client One</h1>
                        <div class="review--data">
                            <h1>Ratings:  5</h1>
                            <p>my experience with
                                travel hotel is the best since this guys help you find what you want for sure. i love it.</p>
                        </div>     
                    </div>
                </div>
                <div class="user--card">
                        <img src="/images/profile-pic.png" alt="">
                    <div class="user--review">
                        <h1>Client One</h1>
                        <div class="review--data">
                            <h1>Ratings:  5</h1>
                            <p>my experience with
                                travel hotel is the best since this guys help you find what you want for sure. i love it.</p>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>