<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login-signup.css">
    <title><%= title %></title>
</head>
<body>
    <div class="navigation--bar">
        <div class="logo">
            <p>THG</p>
        </div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact-us</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Countries</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </nav>
    </div>
    <div class="main-page">
        <div class="login--form">
            <form action="/login" method="POST">
                <h1>Welcome back</h1>
                <div class="form--inputs">
                    <input type="text" name="username" placeholder="User name">
                    <input type="text" name="userpassword" placeholder="User password">
                    <input type="submit" value="Login">
                </div>
            </form>
            <div class="more--details">
                <p>Login back to your account to see what other hotels world wide are offering. Don’t forget to rate the experience with us , to improve user experience.</p>
                <p>Dont have an account!? <a href="/signup">Create one here!</a></p>
            </div>
        </div>
    </div>

    <script src="../validation.js"></script>
</body>
</html>