<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login-signup.css">
    <title><%= title %></title>
</head>
<body>
    <div class="navigation--bar">
        <div class="logo">
            <p>THG</p>
        </div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact-us</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Countries</a></li>
            <li><a href="/login">Login</a></li>
        </nav>
    </div>
    <div class="main-page">
        <div class="login--form">
            <h1>Welcome back</h1>
            <form action="" method="POST">
                <input type="text" placeholder="User name">
                <input type="text" placeholder="User password">
                <input type="text" placeholder="User email">
                <input type="button" value="Login">
            </form>
        </div>
        <div class="some--details">
            <p>Login back to your account 
                to see what other hotels world wide are offering. Don’t forget to rate the experience with us , to improve user experience.</p>
                <div class="social--media">
                    <div class="social--media--icons">
                        <img src="/images/twiter.png" alt="">
                        <img src="/images/facebook.png" alt="">
                        <img src="/images/google.png" alt="">
                    </div>
                </div>
        </div>
    </div>
</body>
</html>