*{
    padding: 0;
    margin: 0;
}
.main--body{
    width: 95%;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 2.5%;
}
.navigation--bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation--bar .logo{
    font-size: 40px;
    margin: 15px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navigation--bar nav{
    display: flex;
    list-style: none;
    margin: 20px 15px;
}
.navigation--bar nav li{
    margin: 10px 15px;
    border: 1px solid rgb(214, 214, 214);
    padding: 5px;
    border-radius: 8px;
}

.navigation--bar nav li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    outline: none;
}
.navigation--bar nav li:hover{
    background-color: #A8BE97;
    color: #fff; 
}
.navigation--bar nav li a:hover{
    color: #fff;
}
.welcome--image{
    width: 90%;
    margin: 0 5%;
}
.hotel--rooms{
    border: 1px solid black;
    height: 500px;
    width: 292px;
    padding: 10px;
    margin: 20px 5%;
    border-left: 32px solid;
}
.hotel--rooms .image img{
    width: 100%;
}